.tempdata-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.loader-container {
  display: flex; 
  text-align: center; 
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: relative;
}

.loading-text {
  position: absolute; 
  font-size: 2rem; 
  color: #050b1d;
  font-weight: 900;
  font-family: Inter;
}

.result-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.navbar-container {
  height: 15vh;
  flex-shrink: 0;
}

.left-column {
  flex: 1;
  display: flex;
  justify-content: flex-start; 
  align-items: flex-end; 
}

.replay-container {
  display: flex;
  flex-direction: column; /* Stack icon and text vertically */
  align-items: center; /* Center align text under the icon */
  position: absolute;
  bottom: 3vh;
  left: 2vw;
}

.replay-icon {
  cursor: pointer;
}

.replay-text {
  margin-top: 0.5rem; /* Add space between icon and text */
  font-size: 1.8rem;
  font-family: Inter, sans-serif;
  color: #050b1d;
  font-weight: bold;
}

.middle-column {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.result-title {
  text-align: center;
  font-size: 3rem;
  font-family: Inter, sans-serif;
  font-weight: bold;
}

.temperature,
.category {
  text-align: center;
  font-size: 2.5rem;
  font-family: Inter, sans-serif;
  font-weight: bold;
}

.right-column {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 20px;
}

.arrow-container {
  display: flex;
  flex-direction: column; /* Stack icon and text vertically */
  align-items: center; /* Center align text under the icon */
  position: absolute;
  bottom: 3vh;
  right: 2vw;
}

.arrow-icon {
  cursor: pointer;
}

.arrow-text {
  margin-top: 0.5rem; /* Add space between icon and text */
  font-size: 1.8rem;
  font-family: Inter, sans-serif;
  color: #050b1d;
  font-weight: 900;
}

.main-content {
  height: 85vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}